[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
uwsgi = "*"
requests = "*"

[dev-packages]
django-debug-toolbar = "*"
lxml = "*"
"bs4" = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7.0"
