[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
requests = "*"
"bs4" = "*"
lxml = "*"
djangorestframework = "*"
django-filter = "*"
raven = "*"
django = "*"

[dev-packages]
ipython = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
